aiohttp
async-timeout
click
pandas==2.1.4
requests
progiter
beautifulsoup4
rich
deepseek
streamlit==1.30.0
torch==2.1.2
transformers==4.36.2
accelerate==0.26.1
bitsandbytes>=0.39.0
sentence-transformers==2.2.2
psutil
faiss-cpu==1.7.4
scikit-learn==1.3.2
numpy==1.26.3